

.header  {
    background-color: powderblue;
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    /*padding-bottom: 25px;*/
    top: 0;
    left: 0;
    height: auto;
}

ul {
    color: white;
    margin-top: 30px;
}

.push {
    margin-bottom: 30px;
}

.header ul li {
    display: inline;
    padding-left: 30px;
}

.header ul li a {
    text-decoration: none;
    color: white;
    background-color: powderblue;
}

.header ul li a:hover {
    color: darkblue;
}

.beginning {
    padding-top: 50px;
    text-align: center;
}

h1 {
    text-align: center;
}

ul {
    text-align: center;
}

.about p {
    display: inline-block;
    margin-left: 15em;
}

#col {
    text-align: center;
}

#col2 {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 80px;
    -moz-column-gap: 80px;
    column-gap: 80px;
    padding-left: 12em;
    padding-right: 12em;
}

p {
    margin-top: 0em;
    padding-left: 12em;
    padding-right: 12em;
}

h4 {
    margin-bottom: 0em;
    padding-left: 12em;
}

.technical p {
    display: inline-block;
    margin-left: 15em;
}

.education li {
    list-style: none;
    text-align: left;
    color: black;
    padding-left: 10em;
}

.daisy {
    text-indent: 10px;
    margin-top: 0em;
}

.rose {
    color: gray;
    margin-bottom: 0em;
}

#exp:target {
    padding-top: 90px;
    margin-top: -90px;
}

#me:target {
    padding-top: 90px;
    margin-top: -90px;
}

#skills:target {
    padding-top: 90px;
    margin-top: -90px;
}

#pro:target {
    padding-top: 90px;
    margin-top: -90px;
}

.footer {
    text-align: center;
    color: powderblue;
    text-decoration: none;
}

.footer ul li {
    list-style: none;
    display: inline;
    margin-left: 30px;
    text-align: center;
}

form {
    /* Just to center the form on the page */
    margin: 0 auto;
    width: 40%;
    height: 400px;
    /* To see the outline of the form */
    padding: 1em;
    border-radius: 1em;
    background: #a3c5cf
}

form div + div {
    margin-top: 1em;
}

label {
    /* To make sure that all labels have the same size and are properly aligned */
    display: block;
    width: 90px;
    text-align: left;
    color: white;
    font-size: 0.75em;
}

input, textarea {
    font: 1em sans-serif;
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px; 
    height: 2em;
    border: 1px solid grey;
}

input:focus, textarea:focus {
    /* To give a little highlight on active elements */
    border-color: grey
}

textarea {
    vertical-align: top;
    height: 10em;
}

.button {
    /* To position the buttons to the same position of the text fields */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    
}
button {
    /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #a3c5cf; 
    height: 2em;
    background-color: white;
}


::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;  
}
::-moz-placeholder {
   font-style: italic;  
}
:-ms-input-placeholder {  
   font-style: italic; 
}

.links {
    text-decoration: none;
    color: powderblue;
}